serverAddr = "{{ .Envs.FRP_SERVER_ADDR }}"
serverPort = {{ .Envs.FRP_SERVER_PORT }}

auth.token = "{{ .Envs.FRP_AUTH_TOKEN }}"

[webServer]
addr = "127.0.0.1"
port = 7400

[[proxies]]
name = "traefik-http"
type = "tcp"
localIP = "{{ .Envs.REVERSE_PROXY_IP }}"
localPort = 80
remotePort = 80

[[proxies]]
name = "traefik-https"
type = "tcp"
localIP = "{{ .Envs.REVERSE_PROXY_IP }}"
localPort = 443
remotePort = 443

[[proxies]]
name = "matrix-rtc-tcp"
type = "tcp"
localIP = "{{ .Envs.REVERSE_PROXY_IP }}"
localPort = 30881
remotePort = 30881

[[proxies]]
name = "matrix-rtc-udp"
type = "udp"
localIP = "{{ .Envs.REVERSE_PROXY_IP }}"
localPort = 30882
remotePort = 30882