{
    auto_https off
}

http://cluster.diluz.io {
    reverse_proxy 192.168.178.100:80
}

https://cluster.diluz.io {
    reverse_proxy 192.168.178.100:443
}

*.cluster.diluz.io {
    reverse_proxy 192.168.178.100:80
}