# Core bot config
TOKEN=your_discord_bot_token_here
OWNERID=your_discord_user_id_here
APP_ID=your_application_id_here

DATABASE_URL=mongodburl

# Analytics
POSTHOG_API_KEY=your_posthog_api_key_here

# Webhooks
WEBHOOK_ID_EX=
WEBHOOK_TOKEN_EX=

WEBHOOK_ID_JOIN=
WEBHOOK_TOKEN_JOIN=

WEBHOOK_ID_BUG=
WEBHOOK_TOKEN_BUG=

WEBHOOK_ID_STARTUP=
WEBHOOK_TOKEN_STARTUP=
