---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/app-template-3.1.0/charts/other/app-template/values.schema.json

controllers:
  main:
    strategy: Recreate

    containers:
      main:
        image:
          repository: louislam/uptime-kuma
          tag: 2.1.3
          pullPolicy: IfNotPresent

        env: []
        resources:
          # limits:
          #   cpu: 100m
          #   memory: 128Mi
          requests:
            cpu: 50m
            memory: 128Mi

        probes:
          startup:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 3001
              periodSeconds: 10
              # 60 minutes (10s * 360 = 3600s)
              failureThreshold: 360
          liveness:
            enabled: true
            spec:
              httpGet:
                path: /
                port: 3001

defaultPodOptions:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: kubernetes.io/role
                operator: In
                values:
                  - worker

service:
  main:
    controller: main
    ports:
      http:
        port: 3001

ingress:
  main:
    hosts:
      - host: status.cluster.diluz.io
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http

persistence:
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    storageClass: 'nfs-client'
    size: 1Gi
    globalMounts:
      - path: /app/data
