apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--certificatesresolvers.netlify.acme.dnschallenge.provider=netlify"
      - "--certificatesresolvers.netlify.acme.email=cluster@diluz.io"
      - "--certificatesresolvers.netlify.acme.storage=/ssl-certs/acme-netlify.json"
    logs:
      # Configure log settings here...
      general:
        level: ERROR
    ports:
      # Configure your entrypoints here...
      web:
        # (optional) Permanent Redirect to HTTPS
        redirectTo: websecure
      websecure:
        tls:
          enabled: true
          # (optional) Set a Default CertResolver
          certResolver: netlify
    env:
      - name: NETLIFY_TOKEN
        valueFrom:
          secretKeyRef:
            key: token
            name: netlify-credentials
    ingressRoute:
      dashboard:
        enabled: false
    persistence:
      enabled: true
      accessMode: ReadWriteOnce
      storageClass: nfs-client
      name: ssl-certs
      size: 1Gi
      path: /ssl-certs
    # Set Traefik as your default Ingress Controller, according to Kubernetes 1.19+ changes.
    ingressClass:
      enabled: true
      isDefaultClass: true
