# yaml-language-server: $schema=values.schema.json

matrix-stack:
  # Global server name for Matrix federation
  serverName: 'cluster.diluz.io'

  # Synapse homeserver configuration
  synapse:
    enabled: true
    ingress:
      host: 'matrix.cluster.diluz.io'
    media:
      storage:
        size: 100Gi
        storageClassName: longhorn
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 4Gi
    nodeSelector:
      kubernetes.io/role: worker

  # Element Web client
  elementWeb:
    enabled: true
    ingress:
      host: 'element.cluster.diluz.io'
    nodeSelector:
      kubernetes.io/role: worker

  # Element Admin interface
  elementAdmin:
    enabled: true
    ingress:
      host: 'admin-matrix.cluster.diluz.io'
    nodeSelector:
      kubernetes.io/role: worker

  # Matrix Authentication Service
  matrixAuthenticationService:
    enabled: true
    ingress:
      host: 'auth-matrix.cluster.diluz.io'
    extraEnv:
      - name: AUTHENTIK_CLIENT_SECRET
        value: 'TODOREPLACEME'
    additional:
      auth.yaml:
        config: |
          passwords:
            # Users will only be able to log in using upstream OIDC providers
            enabled: false
          upstream_oauth2:
            providers:
              - id: 01HFRQFT5QFMJFGF01P7JAV2ME
                human_name: Authentik
                issuer: "https://auth.cluster.diluz.io/application/o/matrix/"
                client_id: "P5QrehyycvxTxhNNmFGmwjCmgAPHYbjcahzhaIj4"
                client_secret: ${AUTHENTIK_CLIENT_SECRET}
                token_endpoint_auth_method: client_secret_basic
                scope: "openid profile email"
                claims_imports:
                  localpart:
                    action: suggest
                    template: "{{ user.preferred_username }}"
                  displayname:
                    action: suggest
                    template: "{{ user.name }}"
                  email:
                    action: require
                    template: "{{ user.email }}"
    nodeSelector:
      kubernetes.io/role: worker

  # Matrix RTC Backend (for Element Call)
  matrixRTC:
    enabled: true
    ingress:
      host: 'rtc-matrix.cluster.diluz.io'
    sfu:
      manualIP: '46.225.62.164'
      useStunToDiscoverPublicIP: false
      additional:
        config.yaml:
          config: |
            rtc:
              port_range_start: 30000
              port_range_end: 30100
            turn:
              relay_range_start: 30000
              relay_range_end: 30100
      exposedServices:
        turn:
          enabled: true
          # These are also the default values, but the schema wants them to be explicitly set when the TURN server is enabled
          portType: NodePort
          port: 31478
      nodeSelector:
        kubernetes.io/role: worker
    nodeSelector:
      kubernetes.io/role: worker

  # Well-known delegation for federation
  wellKnownDelegation:
    enabled: true

  haproxy:
    nodeSelector:
      kubernetes.io/role: worker

  # PostgreSQL database
  postgres:
    enabled: true

    storage:
      size: 5Gi
      storageClassName: longhorn

    resources:
      requests:
        cpu: 1000m
        memory: 1Gi
      limits:
        memory: 2Gi
    nodeSelector:
      kubernetes.io/role: worker
