# yaml-language-server: $schema=values.schema.json

matrix-stack:
  # Global server name for Matrix federation
  serverName: "cluster.diluz.io"

  # Synapse homeserver configuration
  synapse:
    enabled: true

    ingress:
      host: "matrix.cluster.diluz.io"

    media:
      storage:
        size: 100Gi
        storageClassName: longhorn

    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 4Gi

  # Element Web client
  elementWeb:
    enabled: true

    ingress:
      host: "element.cluster.diluz.io"

  # Element Admin interface
  elementAdmin:
    enabled: true

    ingress:
      host: "admin-matrix.cluster.diluz.io"

  # Matrix Authentication Service
  matrixAuthenticationService:
    enabled: true
    ingress:
      host: "auth-matrix.cluster.diluz.io"
    extraEnv:
    - name: AUTHENTIK_CLIENT_SECRET
      value: "TODOREPLACEME"
    additional:
      auth.yaml:
        config: |
          passwords:
            # Users will only be able to log in using upstream OIDC providers
            enabled: false
          upstream_oauth2:
            providers:
              - id: 01HFRQFT5QFMJFGF01P7JAV2ME
                human_name: Authentik
                issuer: "https://auth.cluster.diluz.io/application/o/matrix/"
                client_id: "P5QrehyycvxTxhNNmFGmwjCmgAPHYbjcahzhaIj4"
                client_secret: ${AUTHENTIK_CLIENT_SECRET}
                token_endpoint_auth_method: client_secret_basic
                scope: "openid profile email"
                claims_imports:
                  localpart:
                    action: require
                    template: "{{ user.preferred_username }}"
                  displayname:
                    action: suggest
                    template: "{{ user.name }}"
                  email:
                    action: require
                    template: "{{ user.email }}"

  # Matrix RTC Backend (for Element Call)
  matrixRTC:
    enabled: true

    ingress:
      host: "rtc-matrix.cluster.diluz.io"

  # Well-known delegation for federation
  wellKnownDelegation:
    enabled: true

  # PostgreSQL database
  postgres:
    enabled: true

    storage:
      size: 5Gi
      storageClassName: longhorn

    resources:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        memory: 1Gi
