# yaml-language-server: $schema=values.schema.json

matrix-stack:
  # Global server name for Matrix federation
  serverName: 'cluster.diluz.io'

  # Synapse homeserver configuration
  synapse:
    enabled: true
    ingress:
      host: 'matrix.cluster.diluz.io'
    media:
      storage:
        size: 100Gi
        storageClassName: longhorn
    resources:
      requests:
        cpu: 1000m
        memory: 2Gi
      limits:
        memory: 4Gi
    nodeSelector:
      kubernetes.io/role: worker

    # Define configs for bridges
    additional:
      whatsapp-bridge:
        config: |
          app_service_config_files:
            - /data/registrations/whatsapp-registration.yaml
    extraVolumes:
      - name: whatsapp-registration
        secret:
          secretName: matrix-whatsapp-credentials
    extraVolumeMounts:
      - name: whatsapp-registration
        mountPath: /data/registrations/whatsapp-registration.yaml
        subPath: registration.yaml
        readOnly: true

  # Element Web client
  elementWeb:
    enabled: true
    ingress:
      host: 'element.cluster.diluz.io'
    nodeSelector:
      kubernetes.io/role: worker

  # Element Admin interface
  elementAdmin:
    enabled: true
    ingress:
      host: 'admin-matrix.cluster.diluz.io'
    nodeSelector:
      kubernetes.io/role: worker

  # Matrix Authentication Service
  matrixAuthenticationService:
    enabled: true
    ingress:
      host: 'auth-matrix.cluster.diluz.io'
    extraEnv:
      - name: AUTHENTIK_CLIENT_SECRET
        value: 'TODOREPLACEME'
    additional:
      auth.yaml:
        config: |
          passwords:
            # Users will only be able to log in using upstream OIDC providers
            enabled: false
          upstream_oauth2:
            providers:
              - id: 01HFRQFT5QFMJFGF01P7JAV2ME
                human_name: Authentik
                issuer: "https://auth.cluster.diluz.io/application/o/matrix/"
                client_id: "P5QrehyycvxTxhNNmFGmwjCmgAPHYbjcahzhaIj4"
                client_secret: ${AUTHENTIK_CLIENT_SECRET}
                token_endpoint_auth_method: client_secret_basic
                scope: "openid profile email"
                claims_imports:
                  localpart:
                    action: suggest
                    template: "{{ user.preferred_username }}"
                  displayname:
                    action: suggest
                    template: "{{ user.name }}"
                  email:
                    action: require
                    template: "{{ user.email }}"
    nodeSelector:
      kubernetes.io/role: worker

  # Matrix RTC Backend (for Element Call)
  matrixRTC:
    enabled: true
    ingress:
      host: 'rtc-matrix.cluster.diluz.io'
    sfu:
      manualIP: '46.225.62.164'
      useStunToDiscoverPublicIP: false
      additional:
        config.yaml:
          config: |
            turn:
              relay_range_start: 30000
              relay_range_end: 30100
      exposedServices:
        turn:
          enabled: true
          # These are also the default values, but the schema wants them to be explicitly set when the TURN server is enabled
          portType: NodePort
          port: 31478
      nodeSelector:
        kubernetes.io/role: worker
    nodeSelector:
      kubernetes.io/role: worker

  # Well-known delegation for federation
  wellKnownDelegation:
    enabled: true

  haproxy:
    nodeSelector:
      kubernetes.io/role: worker

  # PostgreSQL database
  postgres:
    enabled: true

    storage:
      size: 5Gi
      storageClassName: longhorn

    resources:
      requests:
        cpu: 1000m
        memory: 1Gi
      limits:
        memory: 2Gi
    nodeSelector:
      kubernetes.io/role: worker

# Using the common chart for resources outside of the matrix stack
global:
  nameOverride: 'whatsapp-bridge'
  fullnameOverride: 'matrix-bridge'

controllers:
  whatsapp:
    type: deployment
    containers:
      app:
        image:
          repository: dock.mau.dev/mautrix/whatsapp
          tag: v0.11.0
        env:
          TZ: UTC
          MAUTRIX_AS_TOKEN:
            secretKeyRef:
              name: &mautrixTokenSecretName '{{ printf "%s-whatsapp-credentials" (include "bjw-s.common.lib.chart.names.fullname" $) }}'
              key: as_token
          MAUTRIX_HS_TOKEN:
            secretKeyRef:
              name: *mautrixTokenSecretName
              key: hs_token
        # The bridge requires UID 1337 for /data access by default
        securityContext:
          runAsUser: 1337
          runAsGroup: 1337
          fsGroup: 1337

service:
  whatsapp:
    controller: whatsapp
    ports:
      http:
        port: 29318

secrets:
  whatsapp-credentials:
    enabled: true
    stringData:
      as_token: &asToken 'TODOREPLACEME'
      hs_token: &hsToken 'TODOREPLACEME'
      registration.yaml: |
        id: whatsapp
        as_token: *asToken
        hs_token: *hsToken
        namespaces:
          users:
            - exclusive: true
              regex: '@whatsapp_.*:cluster\.diluz\.io'
          aliases:
            - exclusive: true
              regex: '#whatsapp_.*:cluster\.diluz\.io'
        url: http://whatsapp.matrix.svc.cluster.local:29318
        sender_localpart: whatsappbot
        rate_limited: false

configMaps:
  whatsapp-config:
    enabled: true
    data:
      config.yaml: |
        homeserver:
          address: http://synapse.matrix.svc.cluster.local:8008
          domain: cluster.diluz.io

        appservice:
          id: whatsapp
          bot_username: whatsappbot
          address: http://whatsapp.matrix.svc.cluster.local:29318
          database:
            type: sqlite3-fk-wal
            uri: /data/mautrix-whatsapp.db
          as_token: ${MAUTRIX_AS_TOKEN}
          hs_token: ${MAUTRIX_HS_TOKEN}

        encryption:
          allow: true
          default: true
          require: true
          key_sharing:
            allow: true
          # Delete keys after sending to prevent long-term storage of decrypted messages
          ratchet_keys: true
          delete_keys:
            delete_outbound_on_ack: true
            delete_prev_on_new_session: true

        bridge:
          permissions:
            "cluster.diluz.io": full
          # Disable automatic update checks
          update_notifications: false

        logging:
          print_level: info

persistence:
  whatsapp-data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /data
  whatsapp-config:
    enabled: true
    type: configMap
    name: '{{ printf "%s-whatsapp-config" (include "bjw-s.common.lib.chart.names.fullname" $) }}'
    globalMounts:
      - path: /data/config.yaml
        subPath: config.yaml
  whatsapp-registration:
    enabled: true
    type: secret
    name: '{{ printf "%s-whatsapp-credentials" (include "bjw-s.common.lib.chart.names.fullname" $) }}'
    globalMounts:
      - path: /data/registration.yaml
        subPath: registration.yaml
