---
apiVersion: v2
description: A chart to power Immich running on kubernetes
name: immich
version: 0.3.163
maintainers:
  - name: sebastian
    email: sebastian@diluz.io
dependencies:
  - name: immich
    repository: oci://ghcr.io/maybeanerd/immich-charts
    version: 0.11.36
