immich:
  immich:
    configuration:
      image:
        preview:
          format: webp
        fullsize:
          enabled: true
          format: webp
          quality: 80
      library:
        scan:
          cronExpression: '0 4 * * *'
      machineLearning:
        availabilityChecks:
          enabled: true
          interval: 30000
          timeout: 2000
      metadata:
        faces:
          import: true
      nightlyTasks:
        clusterNewFaces: true
        databaseCleanup: true
        generateMemories: true
        missingThumbnails: true
        startTime: '03:00'
        syncQuotaUsage: true
      notifications:
        smtp:
          enabled: true
          from: 'Immich <noreply@diluzio.dev>'
          replyTo: ''
          transport:
            host: 'smtp.servivum.com'
            ignoreCert: false
            password: 'TODOCHANGEME'
            port: 587
            username: 'noreply@diluzio.dev'
      oauth:
        enabled: true
        autoLaunch: true
        autoRegister: true
        buttonText: 'Login with Authentik'
        clientId: 'x93MIUTyE80epWJKx2ie5yIqqxR2ODPD6aV2vwIS'
        defaultStorageQuota: 50
        issuerUrl: 'https://auth.cluster.diluz.io/application/o/immich/'
        timeout: 30000
      passwordLogin:
        enabled: false
      server:
        externalDomain: 'https://immich.cluster.diluz.io'
        loginPageMessage: ''
        # not in default at all
        publicUsers: true
      storageTemplate:
        enabled: true
    database:
      storageType: hdd

  persistence:
    external:
      storageClass: nfs-client
      size: 1Ti
      accessMode: ReadWriteOnce
    library:
      storageClass: nfs-client
      size: 1Ti
      accessMode: ReadWriteOnce
    machine-learning-cache:
      storageClass: nfs-client
      size: 10Gi
      accessMode: ReadWriteOnce

  defaultPodOptions:
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 1
            preference:
              matchExpressions:
                - key: kubernetes.io/role
                  operator: In
                  values:
                    - worker

  ingress:
    server:
      enabled: true
      hosts:
        - host: immich.cluster.diluz.io
          paths:
            - path: /
              pathType: Prefix

  postgresql:
    auth:
      password: TODOCHANGEME
    primary:
      persistence:
        storageClass: nfs-client
        size: 1Gi
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              preference:
                matchExpressions:
                  - key: kubernetes.io/role
                    operator: In
                    values:
                      - worker
