image:
  repository: cloudflare/cloudflared
  tag: 2026.1.2
regions:
  - basePath: cluster.diluz.io
    services:
      - subdomain: home
        servicename: home-assistant
        namespace: home-assistant
        serviceport: 8123
      - subdomain: immich
        servicename: immich-server
        namespace: immich
        serviceport: 2283
      - subdomain: jellyfin
        servicename: jellyfin
        namespace: jellyfin
        serviceport: 8096
      - subdomain: status
        servicename: uptime-kuma
        namespace: uptime-kuma
        serviceport: 3001
      - subdomain: vaultwarden
        servicename: vaultwarden
        namespace: vaultwarden
        serviceport: 80
