image:
  repository: cloudflare/cloudflared
  tag: 2026.1.2
regions:
  - basePath: cluster.diluz.io
    services:
      - subdomain: status
        servicename: uptime-kuma
        namespace: uptime-kuma
        serviceport: 3001
      - subdomain: vaultwarden
        servicename: vaultwarden
        namespace: vaultwarden
        serviceport: 80
