# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.6.0/charts/other/app-template/values.schema.json

controllers:
  main:
    strategy: Recreate
    containers:
      main:
        image:
          repository: vaultwarden/server
          tag: 1.35.2
          pullPolicy: IfNotPresent
        env:
          # https://github.com/dani-garcia/vaultwarden/blob/main/.env.template

          # general
          SIGNUPS_VERIFY: true
          SIGNUPS_ALLOWED: false
          INVITATIONS_ALLOWED: true
          DOMAIN: https://vaultwarden.cluster.diluz.io
          TRASH_AUTO_DELETE_DAYS: 30

          # Push (https://github.com/dani-garcia/vaultwarden/wiki/Enabling-Mobile-Client-push-notification)
          PUSH_ENABLED: true
          PUSH_INSTALLATION_ID: null
          PUSH_INSTALLATION_KEY: null
          PUSH_RELAY_URI: https://api.bitwarden.eu
          PUSH_IDENTITY_URI: https://identity.bitwarden.eu

          # Advanced settings
          ADMIN_TOKEN: null

          # email
          SMTP_HOST: smtp.servivum.com
          SMTP_FROM: noreply@diluzio.dev
          SMTP_PORT: 587
          SMTP_SECURITY: starttls
          SMTP_USERNAME: noreply@diluzio.dev
          SMTP_PASSWORD: TODO_EMAIL_PASSWORD
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
        probes:
          liveness:
            enabled: true
            type: HTTP
            path: /
            port: 80
            spec:
              failureThreshold: 10
              initialDelaySeconds: 5
          readiness:
            enabled: true
            type: HTTP
            path: /
            port: 80
            spec:
              failureThreshold: 10
              initialDelaySeconds: 5

service:
  main:
    controller: main
    ports:
      http:
        port: 80

ingress:
  main:
    hosts:
      - host: vaultwarden.cluster.diluz.io
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http

defaultPodOptions:
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 1
          preference:
            matchExpressions:
              - key: kubernetes.io/role
                operator: In
                values:
                  - worker

persistence:
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    storageClass: 'nfs-client'
    size: 1Gi
