name: Lint and Test Charts

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.12.1

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13.7'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (lint)
        run: ct lint --target-branch ${{ github.event.repository.default_branch }} --check-version-increment=false
# Comment out install tests since they fail from PVCs not being fulfilled
# TODO add back in with default storage class etc
#      - name: Create kind cluster
#        if: steps.list-changed.outputs.changed == 'true'
#        uses: helm/kind-action@v1.7.0
#
#      - name: Run chart-testing (install)
#        if: steps.list-changed.outputs.changed == 'true'
#        run: ct install --target-branch ${{ github.event.repository.default_branch }}
